
:root {

  /* Color Styles */
  --clr-neutral-100: #F5F5F5; 
  --clr-neutral-900: #34363C; 

  --clr-pink-400: #F799C7; 
  --clr-teal-400: #27B7C1; 
  --clr-yellow-400: #F2BF5D; 

/* Font Styles */
/* --ff-heading: 'Sirin Stencil', cursive; */
--ff-primary: 'Open Sans', sans-serif; 
--ff-accent: 'Poiret One', cursive;
}

* {
  padding: 0; 
  margin: 0;
  border: none; 
  box-sizing: border-box;
  font-size: 18px; 
}


body{
  background-color: var(--clr-neutral-100); 
}

/* BREATHING ROOM */
div.breathingRoom{
  height: 5em; 
}
/* end of BREATHING ROOM */

/* Section Header */
div.sectionHeader{
  background-color: var(--clr-neutral-900);   
  border-radius: 10px; 
  max-width: 90%; 
  margin: 0 auto; 

}

h2.sectionHeader-text{
  color: var(--clr-neutral-100); 
  font-family: var(--ff-accent); 
  font-size: 2em; 
  justify-content: center; 
  align-items: center; 
  padding-left: 3em; 
  padding-top: .5em; 
  padding-bottom: .5em; 
}
/* end of Section Header */


/* HERO SECTION - MAIN HEADER */
div.heroSection-container{
  max-width: 100vw; 
  max-height: 100vh; 
}

.heroSection-backgroundImage{
background-image: url(src/media/Miami\ At\ Night.jpg); 
background-position: 50% 50%; 
background-repeat: no-repeat; 
background-size: cover; 
width: 100%; 
height: 100vh; 
position: relative; 
justify-content: center; 
align-items: center; 

}


.mainHeader{
  color: var(--clr-neutral-100); 
  font-family: var(--ff-accent); 
  font-size: 4em; 
  position: absolute; 
  bottom: 0; 
  left: 32%; 
  text-align: center; 


}
/* end of HERO SECTION-MAIN HEADER */

 /* navBar */
 ul.navList{
  display: flex; 
  color: var(--clr-neutral-900); 
  font-family: var(--ff-primary); 
  justify-content: center; 
  list-style: none; 
 }

li.navList-item{
  font-size: 1.2em; 
  padding: 1em; 
}

 /* end of navBar */


/* HIGHLIGHTS SECTION */


.highlightsSection-groupContainer{
  max-width: 100vw; 
}

/* end of HIGHLIGHTS SECTION */


/* FOOTER SECTION */
div.footerSection{
  background-color: var(--clr-neutral-900); 
  color: var(--clr-neutral-100); 
  font-family: var(--ff-accent); 
  text-align: center; 
  padding-top: 1em; 
  padding-bottom: 1em; 
  display: flex; 
}

.logoImage{
max-height: 10vh; 
margin: 0 auto; 
}

.footerText-center{
  padding: 1em; 
  text-align: center; 
}

.footerText-right{
  padding: 1em; 
  right: 0; 
}



/* end of FOOTER SECTION */


/* Media Queries */

/* Mobile Phones */
@media screen and (min-width: 500px){

  h1.mainHeader{
    font-size: 2em; 
  }
  }
/* end of Mobile Phones */

/* Tablets */
@media screen and (min-width: 768px){
 
h1.mainHeader{
  font-size: 12em; 
}

}
/* end of Tablets */

/* end of Media Queries */