
:root {

  /* Color Styles */
  --clr-neutral-100: #FFFFFF; 
  --clr-neutral-900: #34363C; 

  --clr-teal-400: #27B7C1; 
  --clr-yellow-400: #F2BF5D; 
  --clr-red-400: #F15D5C; 

/* Font Styles */
/* --ff-heading: 'Sirin Stencil', cursive; */
--ff-primary: 'Open Sans', sans-serif; 
--ff-accent: 'Poiret One', cursive;
}

* {
  padding: 0; 
  margin: 0;
  border: none; 
  box-sizing: border-box;
  font-size: 18px; 
}


body{
  background-color: var(--clr-neutral-900); 
}

.mainHeroImage{
  background-image: url(src/media/miamiSkylineAtSunset.png); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
 max-width: 100%; 


}

h1.mainHeader{
  color: var(--clr-neutral-100); 
  font-family: var(--ff-accent); 
  font-size: 20em; 
  text-align: center; 
  max-width: 100%; 
 
}


/* Media Queries */

@media screen and (min-width: 768px){
 
h1.mainHeader{
  font-size: 12em; 
}

}


@media screen and (min-width: 500px){

h1.mainHeader{
  font-size: 5em; 
}
}


/* end of Media Queries */